@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

.slide {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    object-fit: cover;
  }

  &__cap {
    background-color: rgba(0, 0, 0, 0.2);
  }

  &__content {
    position: relative;
    width: 90%;
    height: 90%;
    border: 1px solid white;
    border-radius: 3px;
    padding: 1em;
    overflow: auto;
    transition: all 300ms;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    &::-webkit-scrollbar {
      width: 4px;
      height: 4px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(255, 255, 255, 0.3);
    }

    &:hover::-webkit-scrollbar-thumb {
      background-color: white;
    }

    h1 {
      color: white;
      font-family: Roboto, 'sans-serif';
      font-weight: 700;
      font-size: 1.5em;
      border-bottom: 2px solid white;
    }

    h3 {
      margin-top: 0.5em;
      color: white;
      font-family: Roboto, 'sans-serif';
      font-weight: 300;
      font-size: 1.2em;
    }

    p {
      color: white;
      font-size: 0.9em;
    }

    p:nth-of-type(1) {
      margin-top: 2em;
    }

    p + p {
      margin-top: 0.5em;
    }
  }

  &__control {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    svg {
      opacity: 0.6;
      width: 2em;
      height: 2em;
      cursor: pointer;

      &:hover {
        opacity: 1;
      }

      &:active {
        transform: scale(0.9);
      }
    }
  }

  &__number {
    color: white;
    font-family: Roboto, 'sans-serif';
    font-weight: 300;
    font-size: 1.5em;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .slide {
    &__content {
      width: 80%;
      height: 80%;

      h1 {
        font-size: 1.8em;
      }

      h3 {
        font-size: 1.5em;
      }

      p {
        font-size: 1.1em;
      }
    }

    &__control {
      svg {
        width: 2.5em;
        height: 2.5em;
      }
    }

    &__number {
      font-size: 2em;
    }
  }
}

@media (min-width: 1025px) {
  .slide {
    &__content {
      width: 70%;
      height: 70%;

      h1 {
        font-size: 2em;
      }

      h3 {
        font-size: 1.6em;
      }

      p {
        font-size: 1.2em;
      }
    }

    &__control {
      svg {
        width: 3em;
        height: 3em;
      }
    }

    &__number {
      font-size: 2.5em;
    }
  }
}

.preset_1 {
  background-color: rgba(0, 191, 255, 0.6);
}

.preset_2 {
  background-color: rgba(255, 69, 0, 0.6);
}

.preset_3 {
  background-color: rgba(30, 144, 255, 0.6);
}

.preset_4 {
  background-color: rgba(0, 128, 128, 0.6);
}

.preset_5 {
  background-color: rgba(90, 90, 90, 0.6);
}